@import "mixin"; // 放置所有全域變數與Mixin
@import "reset"; // reset.css
@import 'index'; // 首頁

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');
body{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.2rem;
}