<!DOCTYPE html>
<html lang="zh-TW">   
    <head>
        <title>歡迎光臨埃及大旅社</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!--slider-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css">
        
        <link rel="stylesheet" type="text/css" href="css/all.css">
    </head>
    <body>        
    <div class="container-fuild">
        <header>
            <nav>
                <div class="nav-link"></div>
                <div class="logo-image"></div>
                <div id="userId" class="user-profile">{{ message }}</div>
                <div class="user-login"></div>
            </nav>
        </header>
        <section class="top-kv">
            <div class="bn-slider owl-carousel owl-theme">
                <div class="item active"><img src="images/top-bn-01.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="images/top-bn-02.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="header">
                <div class="logo"  style="background:url('images/sm.png')"></div>
                <div class="navigation">
                    <div class="link">About Us</div>
                    <div class="link">Contact</div>
                </div>
            </div>
            <div class="container">
                <div class="kv-title">
                    <h2>Explore your holidays</h2>
                </div>
                
                <div class="search-bar">
                    <div class="input-group">
                        <input id="search_experience_value" placeholder="搜尋目的地城市" type="text" aria-autocomplete="both"
                            aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off"
                            spellcheck="false" maxlength="50" class="form-control">
                        <button class="btn btn-primary">
                            <i class="fa fa-search fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="search-all-area">
                    <div class="search-all-tab row">
                        <div class="tab-box active">
                            <span>Packages</span>
                        </div>
                        <div class="tab-box">
                            <span>Hotels</span>
                        </div>
                        <div class="tab-box">
                            <span>Flights</span>
                        </div>
                    </div>
                    <div class="search-all-bar">
                        <div class="search-all-group row">
                            <div class="select-box col-md-3">
                                <p class="gray-title">Depature</p>
                                <span class="dark-txt">台北TPE</span>
                            </div>
                            <!--<span class="s-icon"><i class="fas fa-exchange-alt fa-lg ml-3"></i></span>-->
                            <div class="select-box col-md-3">
                                <p class="gray-title">Destination</p>
                                <select class="pr-3 pl-2">
                                    <option class="dark-txt selected">
                                        日本 NRT
                                    </option>
                                    <option class="dark-txt">
                                        日本 KIX
                                    </option>
                                    <option class="dark-txt">
                                        泰國 BKK
                                    </option>
                                    <option class="dark-txt">
                                        泰國 DMK
                                    </option>
                                </select>
                            </div>
                            <div class="select-box col-md-3">
                                <span class="gray-title">Travel Dates<i class="fas fa-calendar-alt fa-lg ml-3"></i></span>
                                <input placeholder="YYYY-MM-DD ~ YYYY-MM-DD" type="text" class="dateselect"
                                    required="required" />
                            </div>
                            <div class="select-box col-md-3">
                                <p class="gray-title">Traveler</p>
                                <select class="traveler pr-3 pl-2">
                                    <option class="dark-txt selected" value="1">1 Adult</option>
                                    <option class="dark-txt" value="2">2 Adult</option>
                                    <option class="dark-txt" value="3">3 Adult</option>
                                    <option class="dark-txt" value="4">4 Adult</option>
                                </select>
                            </div>
                        </div>
                        <button class="search_all_btn">Search<i class="fa fa-search fa-lg ml-3"></i></button>
                    </div>
                </div>
                <div class="search-item">
                    <div class="default-suggest">
                        <h5 class="title">Inspiring Destinations ...</h5>
                        <div class="row">
                            <a class="top-cites" style="background:url('images/city-01.jpg')">
                                <div class="top-cites-txt">
                                    <span class="top-country">日本</span>
                                    <span class="top-city">東京</span>
                                </div>
                            </a>
                            <a class="top-cites" style="background:url('images/city-02.jpg')">
                                <div class="top-cites-txt">
                                    <span class="top-country">泰國</span>
                                    <span class="top-city">曼谷</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="search-item">
                    <div class="default-suggest">
                        <h5 class="title">Popular Hotels ...</h5>
                        <div class="default-suggest-content">
                            <div class="row">
                                <div class="hotel">
                                    <div class="hotel-title">
                                        Aspira Tropical Residence
                                    </div>
                                    <div class="hotel-content" style="background:url('images/hotel3.jpg')">
                                    </div>
                                    <div class="hotel-level">
                                        <div class="star">* * *</div>
                                        <div class="money">TWD 11,232</div>
                                    </div>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="hotel">
                                    <div class="hotel-title">
                                        Avani Sukhumvit Bangkok Hotel
                                    </div>
                                    <div class="hotel-content" style="background:url('images/hotel2.jpg')">
                                    </div>
                                    <div class="hotel-level">
                                        <div class="star">* * * *</div>
                                        <div class="money">TWD 19,232</div>
                                    </div>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="hotel">
                                    <div class="hotel-title">
                                        The Park Nine Suvarnabhumi
                                    </div>
                                    <div class="hotel-content" style="background:url('images/hotel1.jpg')">
                                    </div>
                                    <div class="hotel-level">
                                        <div class="star">* * * *</div>
                                        <div class="money">TWD 13,232</div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </div>          
    <script>
    var vm = new Vue({
        el:'#userId',
        data:{
            message:'Hello, Peter Pan!'
        } 
        });//登入訊息        
        var owl = $('.owl-carousel');//Banner Slider
        owl.owlCarousel({
            loop: true,
            autoWidth: true,
            autoplay: true,
            autoplayTimeout: 10000,
            autoplayHoverPause: true
        });
    </script>    
    </body>
</html>