@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');
/*@import url(datepicker.css);*/
body{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.2rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header .logo{
    width: 400px;
    margin: 50px 150px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}

.header .navigation{
    display: flex;
    margin: 50px 100px;
}

.header .navigation .link{
    font-size: 20px;
    padding: 0 30px;
}

.container{ 
    max-width: 1366px;
    padding: 2em 5em;
}
.gray-title{
    color: #6c757d;
    font-size: 5pt;
    margin: 0;
} 
.top-kv { 
	color:#fff;
	text-shadow: 0.1em 0.1em 0.2em #333;
    position: relative;
}
.top-kv .kv-title {
    height: 350px;
    display: flex;
    align-items: center;
}

.top-kv .kv-title h2{
    font-size: 60px;
    font-weight: bold;
}

.top-kv .bn-slider{ 	
    position: fixed;
    z-index: -100;
}

.top-kv .container{ 
	/* position: absolute; */
    top: 10%;
    /*left: 20%;*/
    z-index: 10;
}
.kv-txt {
	text-align: justify;
	text-justify:inter-ideograph;
}

.search-bar {
    display: none;
}

.search-bar .btn-primary{    
    padding: 0 2em;
}	
.input-group {
	line-height: 2em;
	box-shadow: 0.1em 0.1em 0.2em #333;
}
.search-bar .form-control { 
	font-size: 1.2em;
	letter-spacing: 0.3rem; 
	padding: 0.75rem; 
	line-height: 2; 
}
.search-bar .btn-primary ,
.search-bar .btn-primary .active, 
.search-bar .btn-primary .disabled {
    color: #333;
	background-color:#fff;
    border-color: #fff;
}
.search-item {
	display: block;
	background-color:#f2f2f7;
	padding: 40px 30px;
    box-shadow: 0 0 0.5em #333;
    margin-top: 120px;
}
.search-item .row { 
    margin: 0;
    flex: 1;
}
.search-item .top-cites {
    width: 160px;
    height: 160px;
    margin: 0 15px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.search-item img {
	width: 140px;
	height: auto;
}
.search-item h5 {
    font-weight: bold;
	color:#333;
    text-shadow: none;
    padding: 0 0 20px 20px;
    margin: 0;
}

.search-item .top-cites .top-cites-txt{ 
    padding-bottom: 15px;
}

.search-item .row .hotel .hotel-title{ 
    text-shadow: none;
    font-size: 15px;
	color: #2a56e5;
}


.search-item .row .hotel .hotel-content{ 
    width: 350px;
    height: 200px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    margin: 10px 0;
}

.search-item .row .hotel .hotel-level{ 
    display: flex;
    justify-content: space-between;
    color:#e59a2a;
    font-size: 25px;
    padding: 0 15px;
}

.search-item .default-suggest-content {
    display: flex;
    margin: 0 20px 20px 20px;
}

.search-item .default-suggest-content .money{
    text-shadow: none;
}

.search-all-area {
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0 0 0.8823em 0 rgba(0,0,0,0.5);
    border-radius: 3px;
}
.search-all-tab {
	color: #5f5f5f;
    position: relative;
    padding: 0 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.search-all-tab .active {
	color: #5ac9c0;
	border-bottom:solid #5ac9c0 2px; 
}
.tab-box {
    padding: 10px 0;
    margin: 0 20px;
}
.search-all-bar {
	/*height: 54px;*/
    padding: 30px;
    position: relative;
	/*background-color:#fff;*/
}
.search-all-group {    
	background-color:#fff;
	display: flex;
    border: solid 1px #bfbfbf;
    background-color:#fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.row {
	margin: 0;
}
span .s-icon {
	display: block;
	position: absolute;
}
.search_all_btn {
    background-image: -webkit-linear-gradient(left, #2a97e5, #225fe0);
    background-image: -o-linear-gradient(left, #2a97e5, #225fe0);
    background-image: linear-gradient(to right,  #2a97e5, #225fe0);
    color: white;
    width: 165px;
    height: 58px;
    letter-spacing: 6px;
    font-size: 14px;
    padding: 0px 20px;
    margin-top: 1em;
    border-radius: 3px;
}
.dark-txt{
	color: #000;
    font-weight: bold;
    text-shadow: none;
}
.select-box {
	display: grid;
    border-right: 1px solid #bfbfbf;
    border: solid 1px #bfbfbf;
    padding: 5px;
}
.select-box > input {
	border: 0;
}
.select-box select, .br-0 { border: 0}
.select-box  .dateselect {
    /*max-width: 120px;*/
    width: 100%;
    line-height: 1em;
    height: 1.5em;
    /*margin-top: 18px;*/
    margin-right: 1em;
}
.nav-link a {   
    vertical-align: middle;
}
.link-midori{
    line-height: 1.5em;
    text-decoration: underline!important; 
    color:#5ac9c0!important;   
    text-decoration-color:#5ac9c0!important; 
}
.mystery-area {
	padding-bottom: 10em; 
}